# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# Project Specific
jarvis.log
Jarvis.lnk
resources/launcher.vbs

# IDEs
.vscode/
.idea/

# OpenWakeWord Models
*.tflite

# Environment Variables
.env
